/* 重定义侧边栏样式 */
.el-aside {
  background-color: darken($light-blue, 15%);
}

.el-menu {
  background-color: darken($light-blue, 15%);
  color: $subMenuActiveText;

  /deep/ .el-menu-item {
    color: $menuText;

    &:hover, &:focus {
      background-color: darken($light-blue, 5%);
      color: $subMenuActiveText;
    }
  }
}

.el-menu-item {

  i {
    margin-right: 15px;
  }


}



